/****************************************
 * Universidad del Valle de Guatemala
 * Sistemas y Tecnologias Web
 * Autor: Diego Cordova - 20212
 * 
 * game.css
 * - Contiene el estilo de la pagina 
 *   de juego cuanto el usuario gana
 *****************************************/

.finish {
    border-radius: 5%;

    margin-bottom: 20px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
}

