
.main-content {
    justify-content: center;
}

.game-map {
    color: white;

    display: flex;
    flex-direction: column;
}

.game-row {
    display: inline-flex;
}

.wall {
    width:  60px;
    height: 60px;
    background-color: rgb(27, 27, 140);
    border: solid rgb(27, 27, 140) 3px;
}

.empty {
    background-color: black;
    border: solid black 3px;
}

.player {
    background-color: black;
    border: solid black 3px;
}


.goal {
    border-radius: 100%;
    background-color: white;
    border: solid black 3px;
}
