/****************************************
 * Universidad del Valle de Guatemala
 * Sistemas y Tecnologias Web
 * Autor: Diego Cordova - 20212
 * 
 * map.css
 * - Contiene el estilo de los componentes
 *   del mapa del laberinto
 *****************************************/

.main-content {
    justify-content: center;
}

.game-map {
    color: white;

    display: flex;
    flex-direction: column;
    transition: background-color 500ms;
}

.game-row {
    display: inline-flex;
}

.wall {
    width:  60px;
    height: 60px;
    background-color: rgb(27, 27, 140);
    border: solid rgb(27, 27, 140) 3px;
}

.empty {
    background-color: black;
    border: solid black 3px;
}

.player {
    background-color: black;
    border: solid black 3px;
}


/* animacion del goal */

.goal {
    background-color: black;
    border: solid black 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes floating {
    0% {top: 2px}
    40% {top: -5px}
    100% {top: 2px}
}

.pill {
    width:  70%;
    height: 70%;
    border-radius: 100%;
    background-color: white;
    position: relative;

    animation-name: floating;
    animation-duration: 1.6s;
    animation-iteration-count: infinite
}
