/****************************************
 * Universidad del Valle de Guatemala
 * Sistemas y Tecnologias Web
 * Autor: Diego Cordova - 20212
 * 
 * select.css
 * - Contiene el estilo de la pagina 
 *   de seleccion de nivel
 *****************************************/


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

form {
    width: 300px;
    height: 150px;
    margin-top: 10%;
    border: solid rgb(36, 36, 255) 3px;
    border-radius: 5.5%;
    padding: 20px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    bottom: 30%;
}

form h2 {
    align-self: center;
    margin-bottom: 25px;
}

form .adminInput {
    margin-left: 110px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.adminInput input {
    width:  20px;
    height: 20px;
    cursor:pointer;
    margin-right: 6px;
}

.adminInput label {
    font-size: 25px;
}